<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Profilul Meu</title>
    <%- include("../fragmente/head.ejs") %>
</head>

<% if(locals.utilizator.poza_profil !="/resurse/imagini/def_profile_pic.png" ){ %>
    <script>
        async function deletePic() {
            try {
                const result = await fetch(`/api/v1/profil/poza`, {
                    method: "DELETE",
                    headers: { "Content-Type": "text/plain" },
                })
                const json = await result.json();
                console.log(json)
                if (json.success == true) {
                    window.location.href = `/profil`;
                }
            }
            catch (error) {
                alert(error);
            }
        }

        async function deleteMe() {
            try {
                const result = await fetch(`/api/v1/profil/stergere`, {
                    method: "GET",
                    headers: { "Content-Type": "text/plain" },
                })
                const json = await result.json();
                console.log(json)
                if (json.success == true) {
                    alert(json.message)
                } else {
                    alert(json.message)
                }
            }
            catch (error) {
                alert(error);
            }
        }
    </script>
    <% }%>

        <body>
            <%- include("../fragmente/header.ejs") %>
                <main>

                    <section class="text-container">
                        <% if ((locals.err=="" || locals.err==undefined) && locals.raspuns==undefined ){ %>
                            <form id="form_update" method="post" class="date" action="/profil"
                                enctype="multipart/form-data">
                                <p>
                                    <label>
                                        Username: <input type="text" name="username"
                                            value="<%- locals.utilizator.username %>" required pattern="[A-Za-z0-9]+">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Nume: <input type="text" name="nume" required
                                            value="<%- locals.utilizator.nume %>"
                                            pattern="([A-Z][a-z]{2,}(-[A-Z][a-z]{2,})*)">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Prenume: <input type="text" name="prenume" required
                                            value="<%- locals.utilizator.prenume %>"
                                            pattern="([A-Z][a-z]{2,}(-[A-Z][a-z]{2,})*)">
                                    </label>
                                </p>
                                <p>
                                    <!-- prezentare -->
                                    <label>
                                        Parola: <input id="parln" type="password" name="parolan" value="">
                                    </label>
                                    <!--pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])" -->
                                </p>
                                <p>
                                    <label>
                                        Reintroduceti parola: <input id="rparln" type="password" name="rparln" value="">
                                    </label>
                                </p>
                                <p>
                                    <!-- prezentare -->
                                    <label>
                                        Email: <input type="text" type="email" name="email" required
                                            value="<%- locals.utilizator.email %>"
                                            pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Culoare text chat: <select name="culoareText">
                                            <option value="red">rosu</option>
                                            <option value="green">verde</option>
                                            <option value="blue">albastru</option>
                                        </select>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Ocupatie: <select name="ocupatie">
                                            <%if (locals.ocupatii){ %>
                                                <% for(x of locals.ocupatii){ %>
                                                    <option value="<%- x %>">
                                                        <%- x %>
                                                    </option>
                                                    <%} %>
                                                        <option selected value="<%- locals.ocupatie_default%>">
                                                            <%- locals.ocupatie_default%>
                                                        </option>
                                                        <%}%>
                                        </select>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Poza: <input type="file" name="poza">
                                    </label>
                                </p>

                                <p>
                                    <!-- prezentare -->
                                    <label>
                                        Parola curenta: <input id="parl" type="password" name="parola" required
                                            value="">
                                    </label>
                                    <!--pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])" -->
                                </p>
                                <p>
                                    <label>
                                        Reintroduceti parola curenta: <input id="rparl" type="password" name="rparl"
                                            required value="">
                                    </label>
                                </p>
                                <p>
                                    <input type="submit" value="Trimite">
                                    <input type="reset" value="Reseteaza">
                                </p>
                            </form>

                            <% if(locals.utilizator.poza_profil !="/resurse/imagini/def_profile_pic.png" ){ %>
                                <button onclick="deletePic()"> Sterge Poza Profil</button>
                                <% }%>
                                    <%} else {%>
                                        <p style="color: red;">
                                            <%- locals.err %>
                                        </p>
                                        <%}%>
                                            <% if(locals.raspuns){ %>
                                                <p style="color: green;">
                                                    <%- locals.raspuns %>
                                                </p>
                                                <% } %>
                                                    <button onclick="deleteMe()"> Sterge contul </button>
                    </section>

                </main>
                <%- include("../fragmente/footer.ejs") %>
                    <script>

                        window.onload = function () {
                            if (document.getElementById("form_update")) {
                                document.getElementById("form_update").onsubmit = function () {
                                    if (document.getElementById("parl").value == document.getElementById("rparl").value && document.getElementById("parln").value == document.getElementById("rparln").value) {
                                        return true
                                    }
                                    var spanSuma;
                                    spanSuma = document.getElementById("numar-suma");
                                    if (!spanSuma) {
                                        spanSuma = document.createElement("span");
                                        spanSuma.innerHTML = "Ati introdus parola gresit!";
                                        spanSuma.id = "numar-suma";//<span id="..."
                                        document.getElementsByClassName("text-container")[0].appendChild(spanSuma);
                                        setTimeout(function () { document.getElementById("numar-suma").remove() }, 5000);
                                        return false
                                    }
                                    return false
                                }
                            }
                        }
                    </script>
        </body>

</html>