<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Stoc</title>
    <%- include("../fragmente/head.ejs") %>
</head>

<script>
    async function deleteUser(id) {
        let object = Object()
        for (x of document.getElementsByClassName(`prod${id}`)) {
            object[x.name] = x.value

        }
        try {
            const result = await fetch(`/api/v1/produs/${id}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(object)
            })
            const json = await result.json();
            if (json.success == true) {
                window.location.href = `/stoc`;
            } else {
                alert(json.message)
            }
        }
        catch (error) {
            alert(error);
        }
    }
</script>


<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <section class="text-container">

                <table>
                    <tr>
                        <% for (x of locals.fields){ if(x!="id" ){%>
                            <th>
                                <%- x.replace(/^\w/, c=> c.toUpperCase()); %>
                            </th>
                            <% }} %>
                    </tr>
                    <% for(x of locals.users){ %>
                        <tr>
                            <% for( [key, y] of Object.entries(x)){ if(key!="id" ){%>
                                <td>
                                    <input type='text' name='<%- key %>' class='prod<%- x.id %>' value='<%- y %>'>
                                    </input>
                                </td>
                                <%}} %>
                                    <td>
                                        <button onclick="deleteUser(<%- x.id %>)">Editeaza-ma</button>
                                    </td>
                        </tr>
                        <% } %>
                </table>
            </section>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>


</html>